### Задание1
Скачайте датасет fifаs2.сsv. Проанализируйте его и определите, какие данные являются неполными. Удалите
ненужные колонки и недостающие значения.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("fifa_s2.csv")
df.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,1179,G. Buffon,40,Italy,88,88,Paris Saint-Germain,4000.0,77,Right,4.0,1.0,GK,2018,01/01/2019,6.333333,203.0,7400.0
1,5479,Casillas,37,Spain,82,82,FC Porto,1500.0,10,Left,4.0,1.0,NaN,2015,01/01/2019,6.083333,185.0,3000.0
2,8205,Braga,35,Portugal,70,70,CD Aves,750.0,5,Right,1.0,3.0,LCM,2017,01/01/2019,5.916667,165.0,1600.0
3,9014,A. Robben,34,Netherlands,84,84,FC Bayern München,15500.0,110,Left,4.0,4.0,RM,2009,01/01/2019,5.916667,176.0,25600.0
4,19521,J. Ibehre,35,England,61,61,Cambridge United,120.0,2,Right,1.0,2.0,ST,2017,01/01/2019,6.333333,203.0,210.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2399 entries, 0 to 2398
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        2399 non-null   int64
 1   Name                      2399 non-null   object
 2   Age                       2399 non-null   int64
 3   Nationality               2392 non-null   object
 4   Overall                   2399 non-null   int64
 5   Potential                 2399 non-null   int64
 6   Club                      2158 non-null   object
 7   Value                     2142 non-null   float64
 8   Wage                      2399 non-null   int64
 9   Preferred Foot            2399 non-null   object
 10  International Reputation  2389 non-null   float64
 11  Skill Moves               2393 non-null   float64
 12  Position                  2378 non-null   object
 13  Joined                    2399 non-null   int64
 14  Contract Valid Until      2126 non-null   object
 15  Height                    2399 non-null   float64
 16  Weight                    2399 non-null   float64
 17  Release Clause            2396 non-null   float64
dtypes: float64(6), int64(6), object(6)
memory usage: 337.5+ KB

In [4]:
df.isna().sum()

ID                            0
Name                          0
Age                           0
Nationality                   7
Overall                       0
Potential                     0
Club                        241
Value                       257
Wage                          0
Preferred Foot                0
International Reputation     10
Skill Moves                   6
Position                     21
Joined                        0
Contract Valid Until        273
Height                        0
Weight                        0
Release Clause                3
dtype: int64

### Задание2. 
Найдите в датафрейме полные дубликаты и удалите их. Значения могут быть одинаковыми, но написаны по-
разному. Например, может отличаться размер регистра (заглавные и строчные буквы). Особое внимание уделить колонке с названиями команд.

In [5]:
df.duplicated().sum()

0

Явных дубликатов нет, попробуем найти неявные:

In [6]:
df['Club']=df['Club'].str.lower()
df['Name'] = df['Name'].str.lower()
df['Nationality'] = df['Nationality'].str.lower()

In [7]:
df.duplicated().sum()

2

In [8]:
df = df.drop_duplicates()

In [9]:
df.duplicated().sum()

0

### Задание 3. 
Напишите функцию, которая добавит колонку с разбиением возраста по группам: до 20, от 20 до 30, от 30 до
36 и старше 36. Посчитайте количество футболистов в каждой категории.

In [10]:
df.loc[(df['Age'] < 20), 'age_group'] = 'under_20'
df.loc[(df['Age'] <= 20) & (df['Age'] < 30), 'age_group'] = 'between_20_and_30'
df.loc[(df['Age'] <= 30) & (df['Age'] < 36), 'age_group'] = 'between_30_and_36'
df.loc[(df['Age'] > 36), 'age_group'] = 'over_36'

In [12]:
df['age_group'].value_counts()

between_30_and_36    2043
over_36                15
Name: age_group, dtype: int64

In [14]:
df.sample(40)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause,age_group
1528,228271,c. gonzáles,25,peru,66,69,NaN,NaN,0,Right,1.0,3.0,CM,2016,NaN,5.750000,152.0,4585.060806,between_30_and_36
1164,216408,l. spalvis,23,lithuania,70,77,1. fc kaiserslautern,2500.0,4,Left,1.0,3.0,ST,2018,01/01/2022,6.166667,172.0,4200.000000,between_30_and_36
203,173179,torrejón,32,spain,72,72,1. fc union berlin,1800.0,20,Right,1.0,2.0,CB,2017,01/01/2019,6.166667,194.0,2900.000000,NaN
732,201893,recio,27,spain,76,79,cd leganés,8000.0,26,Right,1.0,3.0,CM,2018,01/01/2022,6.000000,163.0,NaN,between_30_and_36
1125,215353,l. alario,25,argentina,79,82,bayer 04 leverkusen,16000.0,67,Right,2.0,3.0,ST,2017,01/01/2022,6.000000,172.0,28400.000000,between_30_and_36
455,189509,thiago,27,spain,86,86,fc bayern münchen,45500.0,130,Right,3.0,5.0,CM,2013,01/01/2021,5.750000,154.0,75100.000000,between_30_and_36
1526,228203,a. ashraf,27,egypt,69,69,NaN,NaN,0,Left,1.0,3.0,LM,2016,NaN,5.750000,161.0,4585.060806,between_30_and_36
1311,222775,t. pachonik,23,germany,71,77,carpi,2700.0,2,Right,1.0,3.0,RB,2017,01/01/2020,6.083333,194.0,4800.000000,between_30_and_36
1122,215330,j. correa,23,argentina,78,83,lazio,NaN,42,Right,1.0,4.0,LM,2018,01/01/2023,6.166667,170.0,24900.000000,between_30_and_36
992,211453,m. mohsen,29,egypt,66,66,NaN,NaN,0,Right,1.0,3.0,ST,2016,NaN,6.083333,179.0,4585.060806,between_30_and_36
1588,229582,g. mancini,22,italy,71,80,atalanta,3200.0,13,Right,1.0,2.0,LCB,2017,01/01/2020,6.250000,170.0,6000.000000,between_30_and_36
1249,220542,r. quiñonez,26,bolivia,64,67,NaN,NaN,0,Right,1.0,1.0,GK,2016,NaN,6.000000,176.0,4585.060806,between_30_and_36
35,137186,a. barzagli,37,italy,84,84,juventus,4200.0,95,Right,3.0,2.0,CB,2011,01/01/2019,6.166667,192.0,6900.000000,over_36
171,170636,a. lithgow,30,scotland,66,66,livingston fc,475.0,2,Right,1.0,2.0,LCB,2018,01/01/2020,6.083333,187.0,831.000000,between_30_and_36
1402,224900,a. silbeira,22,paraguay,72,72,NaN,NaN,0,Right,1.0,1.0,GK,2016,NaN,6.250000,207.0,4585.060806,between_30_and_36
153,168651,i. rakitić,30,croatia,87,87,fc barcelona,46500.0,260,Right,4.0,3.0,RCM,2014,01/01/2021,6.000000,172.0,95300.000000,between_30_and_36
1806,234760,a. reca,23,poland,63,69,atalanta,425.0,4,Left,1.0,3.0,LB,2018,01/01/2020,6.166667,168.0,808.000000,between_30_and_36
907,208334,j. hector,28,germany,79,79,1. fc köln,10000.0,26,Left,3.0,3.0,LWB,2012,01/01/2023,6.083333,165.0,15000.000000,between_30_and_36
875,207410,m. kovačić,24,croatia,83,89,chelsea,35000.0,165,Right,3.0,4.0,LCM,2016,30/06/2019,5.750000,172.0,4585.060806,between_30_and_36
2393,246454,d. revan,17,england,53,72,aston villa,110.0,1,Left,1.0,2.0,CB,2018,01/01/2020,6.333333,179.0,278.000000,between_30_and_36
247,177475,t. sippel,30,germany,74,74,borussia mönchengladbach,3600.0,17,Right,1.0,1.0,GK,2015,01/01/2019,6.000000,172.0,6100.000000,between_30_and_36
1982,238815,l. riveros,19,paraguay,64,73,cd universidad de concepción,675.0,1,Right,1.0,3.0,ST,2017,01/01/2020,5.833333,161.0,1100.000000,between_30_and_36
2301,245165,s. bose,22,india,58,66,NaN,NaN,0,Left,1.0,2.0,LB,2016,NaN,6.083333,172.0,4585.060806,between_30_and_36
738,202024,r. freuler,26,switzerland,76,77,atalanta,9000.0,26,Right,2.0,3.0,RDM,2016,01/01/2019,5.916667,170.0,16000.000000,between_30_and_36
1989,238971,m. niemeyer,22,germany,68,76,1. fc magdeburg,1300.0,6,Left,1.0,3.0,LM,2015,01/01/2019,5.833333,159.0,2300.000000,between_30_and_36
1870,236279,i. conté,22,guinea,68,76,chamois niortais football club,1100.0,3,Right,1.0,2.0,LCB,2016,30/06/2019,6.250000,181.0,4585.060806,between_30_and_36
1643,230409,túlio nevinha,30,brazil,62,62,ceará sporting club,230.0,3,Right,1.0,2.0,CB,2018,01/01/2021,6.166667,176.0,426.000000,between_30_and_36
2185,243008,m. trávník,24,czech republic,70,76,NaN,NaN,0,Right,1.0,3.0,CM,2016,NaN,5.750000,154.0,4585.060806,between_30_and_36
1353,223760,a. singh,25,india,58,62,NaN,NaN,0,Right,1.0,1.0,GK,2016,NaN,6.083333,179.0,4585.060806,between_30_and_36
1548,228821,z. machach,22,france,73,80,carpi,5500.0,36,Right,1.0,3.0,CAM,2016,30/06/2019,6.000000,170.0,4585.060806,between_30_and_36
1584,229500,jaquité,22,guinea bissau,63,73,cd tondela,525.0,1,Right,1.0,2.0,CDM,2015,01/01/2020,5.666667,143.0,1200.000000,between_30_and_36
1609,229860,f. andersson,29,sweden,60,60,malmö ff,140.0,1,Right,1.0,1.0,GK,2015,01/01/2018,6.416667,201.0,182.000000,between_30_and_36
1163,216393,y. tielemans,21,belgium,78,87,as monaco,16000.0,47,Right,2.0,4.0,CM,2017,01/01/2022,5.750000,159.0,33600.000000,between_30_and_36
2357,246013,h. calcaterra,29,peru,68,68,NaN,NaN,0,Right,1.0,3.0,RM,2016,NaN,5.750000,159.0,4585.060806,between_30_and_36
619,197996,e. larsson,26,sweden,66,67,malmö ff,625.0,2,Right,1.0,2.0,RWB,2018,01/01/2021,5.750000,150.0,859.000000,between_30_and_36
2128,241867,aitor ruibal,22,spain,64,73,cf rayo majadahonda,700.0,5,Right,1.0,2.0,RS,2016,30/06/2019,5.750000,165.0,4585.060806,between_30_and_36
47,140082,rafael,36,brazil,75,75,cagliari,900.0,14,Right,2.0,1.0,GK,2016,01/01/2019,6.166667,176.0,1500.000000,NaN
2268,244454,d. esmel,20,ivory coast,60,72,1. fc kaiserslautern,375.0,1,Right,1.0,2.0,LW,2018,01/01/2021,5.916667,172.0,619.000000,between_30_and_36
2320,245487,diogo silva,25,portugal,64,67,cd tondela,400.0,1,Right,1.0,1.0,GK,2018,01/01/2020,6.166667,161.0,870.000000,between_30_and_36
993,211463,c. lavery,25,northern ireland,65,67,bury,675.0,4,Right,1.0,3.0,ST,2016,30/06/2019,5.916667,168.0,4585.060806,between_30_and_36